<settings>
    <setting id="ExcludeHTTP" value="false" />
    <setting id="ExcludeLiveTV" value="false" />
    <setting id="ExcludePath" value="" />
    <setting id="ExcludePath10" value="" />
    <setting id="ExcludePath11" value="" />
    <setting id="ExcludePath12" value="" />
    <setting id="ExcludePath2" value="" />
    <setting id="ExcludePath3" value="" />
    <setting id="ExcludePath4" value="" />
    <setting id="ExcludePath5" value="" />
    <setting id="ExcludePath6" value="" />
    <setting id="ExcludePath7" value="" />
    <setting id="ExcludePath8" value="" />
    <setting id="ExcludePath9" value="" />
    <setting id="ExcludePathOption" value="false" />
    <setting id="ExcludePathOption10" value="false" />
    <setting id="ExcludePathOption11" value="false" />
    <setting id="ExcludePathOption12" value="false" />
    <setting id="ExcludePathOption2" value="false" />
    <setting id="ExcludePathOption3" value="false" />
    <setting id="ExcludePathOption4" value="false" />
    <setting id="ExcludePathOption5" value="false" />
    <setting id="ExcludePathOption6" value="false" />
    <setting id="ExcludePathOption7" value="false" />
    <setting id="ExcludePathOption8" value="false" />
    <setting id="ExcludePathOption9" value="false" />
    <setting id="ExcludePlugin" value="false" />
    <setting id="ExcludeScript" value="false" />
    <setting id="add_episodes_to_trakt" value="true" />
    <setting id="add_movies_to_trakt" value="true" />
    <setting id="clean_trakt_episodes" value="false" />
    <setting id="clean_trakt_movies" value="false" />
    <setting id="debug" value="false" />
    <setting id="hide_notifications_playback" value="false" />
    <setting id="kodi_episode_playcount" value="true" />
    <setting id="kodi_movie_playcount" value="true" />
    <setting id="last_reminder" value="-1" />
    <setting id="rate_each_playlist_item" value="true" />
    <setting id="rate_episode" value="true" />
    <setting id="rate_min_view_time" value="75" />
    <setting id="rate_movie" value="true" />
    <setting id="rate_rerate" value="false" />
    <setting id="rating_default" value="6" />
    <setting id="scrobble_episode" value="true" />
    <setting id="scrobble_fallback" value="true" />
    <setting id="scrobble_movie" value="true" />
    <setting id="scrobble_mythtv_pvr" value="false" />
    <setting id="scrobble_notification" value="false" />
    <setting id="scrobble_secondary_title" value="false" />
    <setting id="scrobble_start_offset" value="0" />
    <setting id="show_sync_notifications" value="false" />
    <setting id="startup_delay" value="0" />
    <setting id="sync_on_update" value="false" />
    <setting id="trakt_episode_playback" value="false" />
    <setting id="trakt_episode_playcount" value="true" />
    <setting id="trakt_movie_playback" value="false" />
    <setting id="trakt_movie_playcount" value="true" />
    <setting id="trakt_sync_ratings" value="true" />
    <setting id="version" value="3.1.12" />
</settings>
