<settings>
    <setting id="token" value="eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1MTM5MDg5NDksImlkIjoic2NyaXB0Lm1vZHVsZS50aGV0dmRiIiwib3JpZ19pYXQiOjE1MTM4MjI1NDl9.T5KCyvS-CyDamM28B_Ny4lD4GBltY25yt5qANPVSK5eJfFcK1nui_ujUr_7m9voHa43y7qKygzDVZK-OxBRongYit9wEV5AZl3WO31EFosjkfYpkYrh9innSjQOqZXx5hr09IMmBYD5T0zDRPVLuyaUjRUHHqAX9_bYKPFKuV4mDVXnQ_Zm6xSqWdpP7YANhrHjDXbNuNP2LeUOWeFTZjHwj-3ehxubeyrkngzDo-Vz9n0r--yYV9Vd7_qRI83ISy0XZm0v-rb1GR4b3Kqa7u3HIPYV-r1U1WgbPg51VNWTUVYa4s1MP1ZcSPCLmLc3EdvUfD4ov1mzWx9uS1SoiAg" />
</settings>
